<!-- Carrega o sistema de arquivos estáticos do Django -->
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Minhas Tarefas</h1>

        <h1>Minhas Tarefas</h1>

        <div class="filtros"> <!--container p agrupar os 3 botoes de filtro -->
            <a href="?filtro=todas" class="btn-filtro {% if filtro == 'todas' %} ativo {% endif %}">Todas</a>
            <a href="?filtro=pendentes" class="btn-filtro {% if filtro == 'pendentes' %} ativo {% endif %}">Pendentes</a>
            <a href="?filtro=concluidas" class="btn-filtro {% if filtro == 'concluidas' %} ativo {% endif %}">Concluídas</a>
        </div>

        <!-- 
        ai tem ? pq é um padrão web que enviai infos pela url
        ativo ta dentro da tag e nao entre elas, ativo é o nome da class no css que eu criei. deixa o btn verde 
        -->
        <ul>
            {% for task in tasks %} {# Loop que percorre todas as tarefas que vieram do views.py. Tudo que estiver entre for e endfor repete pra cada tarefa. #}
            <li>
                <a class="btn-toggle" href="{% url 'toggle_task' task.id %}">
                    {% if task.completed %} ✅ {% else %} ⬜ {% endif %}
                </a>
                <span class="task-title {% if task.completed %}concluida{% endif %}">
                    {{ task.title }}
                </span>
                <a class="btn-delete" href="{% url 'delete_task' task.id %}">✕</a>
            </li>
            {% endfor %}
        </ul>

        <form action="{% url 'create_task' %}" method="post"> <!-- para ond eo django envia os dados e o metodo -->
            {% csrf_token %}         <!--  Proteção de segurança do Django. Gera um código secreto invisível no form -->
            <input type="text" name="title" placeholder="Nova Tarefa...">
            <button type="submit">Adicion